body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 800px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
}

th {
    text-align: left;
    height: 30px;
    padding: 5px;
}

td {
    text-align: left;
    padding: 5px;
}

.form {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 50%;
}

#content {
    width: 50%;
}

a:link, a:visited {
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: underline;
}

a:hover, a:active {
  color: grey;
}
