{% extends 'base.html' %}

{% block head %}
<title>To-Do List</title>
{% endblock %}

{% block body %}
<div class="content">
  <h1 style="text-align: center">To-Do List</h1>
  {% if tasks|length < 1 %}
  <h4 style="text-align: center">Create a task below!</h4>
  {% else %}
  <table>
    <colgroup>
      <col style="width: 50%">
      <col style="width: 25%">
      <col style="width: 25%">
    </colgroup>
    <tr>
      <th>Task</th>
      <th>Added</th>
      <th></th>
    </tr>
    {% for task in tasks %}
      <tr>
        <td>{{ task.content }}</td>
        <td>{{ task.date_created.date() }}</td>
        <td>
          <a href="/update/{{task.id}}">Update</a>
          <a style="margin-left: 3em" href="/delete/{{task.id}}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% endif %}

  <div class="form">
    <form action="/" method="POST">
      <input type="text" name="content" id="content">
      <input type="submit" value="Add Task">
    </form>
  </div>
</div>
{% endblock %}
